{% extends "base.html" %}
  
{% block title %}Edit Luggage Records{% endblock title %}
  
{% block content %}
<form action="" method="POST">

    {% csrf_token %}
    <div class="container">
        <div class="col-12">
            <h3>Update Details</h3>
        </div>
        <div class="mb-3">
            <label>Luggage ID:</label>
            {{ form.id }}
            {% for error in form.id.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label>Registration ID:</label>
            {{ form.registration_id }}
            {% for error in form.registration_id.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label>Weight:</label>
            {{ form.weight }}
            {% for error in form.weight.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success btn-lg">Update</button>
        </div>
    </div>
</form>

{% endblock content %}