{% extends "base.html" %}
  
{% block title %}Edit Registration Records{% endblock title %}
  
{% block content %}
<form action="" method="POST">

    {% csrf_token %}
    <div class="container">
        <div class="col-12">
            <h3>Update Details</h3>
        </div>
        <div class="mb-3">
            <label>Registration ID:</label>
            {{ form.id }}
            {% for error in form.id.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label>Passenger ID:</label>
            {{ form.passenger_id }}
            {% for error in form.passenger_id.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label>Flight ID:</label>
            {{ form.flight_id }}
            {% for error in form.flight_id.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label>Visa:</label>
            {{ form.visa }}
            {% for error in form.visa.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label>Price:</label>
            {{ form.price }}
            {% for error in form.price.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success btn-lg">Update</button>
        </div>
    </div>
</form>

{% endblock content %}